body {
    font-family: Arial, sans-serif;
    position: fixed;
    align-items: center;
    padding: 0 8%;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    text-decoration: none;
}

header nav ul li{
    position: relative;
    float: left;
    text-decoration: none;
}

header a{
    text-decoration: none;
    font-size: 20px;
    color: #cccccc;
}

header nav ul li a {
    padding: 15px;
    font-size: 16px;
    display: block;
    color: #cccccc;
    text-decoration: none;
}

header nav ul li a:hover{
    background: #cccccc;
    color: #252a2e;
}

nav ul li ul{
    position: absolute;
    padding-left: 0;
    width: 120%;
    background: #252a2e;
    display: none;
}

nav ul li ul li{
    width: 100%;

    border: 1px solid #252a2e;
}

nav ul li:hover > ul {
    display: initial;
}
