#registerForm {
    /* Стили для формы */
    /* Например: */
    width: 300px; /* Ширина формы */
    margin: 20px auto; /* Отступы для выравнивания по центру */
    /* Другие стили */
}

/* Пример стилизации для ввода текста в форме */
#registerForm input[type="text"],
#registerForm input[type="password"] {
    width: 100%; /* Ширина для текстовых полей */
    margin-bottom: 10px; /* Отступ между полями */
    /* Другие стили */
}

/* Стили для кнопки отправки формы */
#registerForm input[type="submit"] {
    margin-top: 30px;
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убрать границу */
    cursor: pointer; /* Изменить курсор при наведении */
    /* Другие стили */
}